### What are Loops in Python?
Loops in Python are control flow statements used to execute a block of code repeatedly, either a specified number of times or until a specific condition is met. Python supports two main types of loops:

### Print numbers from 1 to 10 using a for loop.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Print the square of numbers from 1 to 5.

In [7]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [8]:
for i in range(1,5):
    print(i*2)

2
4
6
8

### Print all characters in a string.

In [10]:
text="mohammad anique zzma"
for char in text:
    print(char)

m
o
h
a
m
m
a
d

a
n
i
q
u
e

z
z
m
a

In [11]:
text="mohammad anique zzma"
for char in text:
    print(text)

mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma
mohammad anique zzma

### Sum numbers from 1 to 100.

In [12]:
total=0
for i in range(1,101):
    total=total+1

print(total)

100

In [13]:
total=0
for i in range(1,101):
    total+=1

print(total)

100

### Print even numbers between 1 and 20.

In [15]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(3,21,2):
    print(i)

3
5
7
9
11
13
15
17
19

### Print all elements in a list.

In [18]:
nums=[2,4,6,7,8,9,0,33,1]
for num in nums:
    print(num)

2
4
6
7
8
9
0
33
1

### Find the sum of all elements in a list.

In [29]:
nums=[3,44,66,77,8,99,12]
total=0
for num in nums:
    total=total+num
    print(total)

3
47
113
190
198
297
309

In [26]:
nums=[3,44,66,77,8,99,12]
total=0
for num in nums:
    total=total+1
    print(nums)

[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]
[3, 44, 66, 77, 8, 99, 12]

### Print numbers in reverse order using range().

In [30]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

### Find the factorial of a number.

In [33]:
num=int(input("inter the number"))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i

print(factorial)

inter the number 6

720

In [35]:
num=6
factorial=1
for i in range(1,num+1):
    factorial=factorial*i

print(factorial)

720

### Print all keys in a dictionary.

In [39]:
list={1:"mohammad",2:"ahmed",3:"abdullah"}
for data in list:
   # print(keys)
    print(list)

{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}

In [46]:
list={1:"mohammad",2:"ahmed",3:"abdullah"}
for data in list:
    
    print(list)

{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}

In [41]:
data = {"name": "Alice", "age": 25, "city": "New York"}
for key in data:
    print(data[key])

Alice
25
New York

### Print all values in a dictionary.

In [47]:
list={1:"mohammad",2:"ahmed",3:"abdullah"}
for data in list:
    
    print(list)

{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}
{1: 'mohammad', 2: 'ahmed', 3: 'abdullah'}

### Print numbers divisible by 3 in a range.

In [50]:
for i in range(1,21):
    if i%3==0:
        print(i)

3
6
9
12
15
18

In [51]:
for i in range(1,22):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [52]:
for i in range(1,30):
    if i%5==0:
        print(i)

5
10
15
20
25

### Find the length of a string without using len().

In [54]:
text="anique zzama"
length=0
for char in text:
    length=length+1
print(length)

12

In [55]:
text="anique zzama"
length=0
for char in text:
    length=length+1
    print(length)

1
2
3
4
5
6
7
8
9
10
11
12

### Check if an element exists in a list using a loop.

In [57]:
nums=[1,4,6,7,4,3,22,5]
target=242
found=False
for num in nums:
    if num==target:
        found=True
        break

print("found" if found else "not found")

not found

In [58]:
nums=[1,4,6,7,4,3,22,5]
target=22
found=False
for num in nums:
    if num==target:
        found=True
        break

print("found" if found else "not found")

found

### Count the occurrences of a character in a string.

In [64]:
text="hello frends how are you"
#char=char(input("inter the char"))
char="o"
count=0
for c in text:
    if c==char:
        count+1

print(count)

0

### Reverse a string using a loop.

In [69]:
text="anique "
reversed_text=""
for char in text:
    reversed_text=char+reversed_text
print(reversed_text)

 euqina

In [67]:
text = "Python"
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text
print(reversed_text)

nohtyP

### Print the transpose of a matrix using nested loops.

In [80]:
matrix=[[1,3],[4,6],[6,8]]
for i in range(len(matrix)):
    for row in matrix:
        print(row[i], end=" ")

    print()

1 4 6
3 6 8

IndexError: list index out of range

### Flatten a nested list using loops.

In [81]:
nested_list=[[1,3],[4,5],[6,3]]
flat_list=[]
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

[1, 3, 4, 5, 6, 3]

### Find the second largest number in a list.

In [82]:
nums = [3, 7, 2, 9, 5]
largest = second = float('-inf')
for num in nums:
    if num > largest:
        second = largest
        largest = num
    elif num > second and num != largest:
        second = num
print(second)

7